<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
	<head>
		<meta charset="UTF-8">
		<title></title>
	<link rel="stylesheet" type="text/css" href="../css/jquery.tagsinput.min.css" th:href="@{/css/jquery.tagsinput.min.css}"/>
	<link rel="stylesheet" type="text/css" href="../layui/css/layui.css" th:href="@{/layui/css/layui.css}"/>
		
	</head>
	<body>
		<div class="layui-container" style="padding-top: 69px;">
			<input name="tags" id="tags"/>
		</div>
	
<script src="http://apps.bdimg.com/libs/jquery/1.11.3/jquery.min.js" type="text/javascript"></script>
<script src="../js/jquery.tagsinput.min.js" type="text/javascript" th:src="@{/js/jquery.tagsinput.min.js}"></script>
<script src="../js/root/tags.js" type="text/javascript" th:src="@{/js/root/tags.js}"></script>

	</body>
</html>
