<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"   
	  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
<meta charset="UTF-8">
</head>
<body th:fragment="link">
	<h4>Link</h4>
    <ul>
      <li><img src="images/jiandan.png" th:src="@{/images/jiandan.png}" class="blog-icon"/>&nbsp;&nbsp;&nbsp;<a href="https://jandan.net/" target="_blank">煎蛋</a></li>
      <li><img src="images/bootstrap.png" th:src="@{/images/bootstrap.png}" class="blog-icon"/>&nbsp;&nbsp;&nbsp;<a href="https://v4.bootcss.com/" target="_blank">Bootstrap</a></li>
      <li><img src="images/springboot.png" th:src="@{/images/springboot.png}" class="blog-icon"/>&nbsp;&nbsp;&nbsp;<a href="http://projects.spring.io/spring-boot/" target="_blank">SpringBoot</a></li>
    </ul>

</body>
</html>