<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
<title>content</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="layui/css/layui.css" th:href="@{/layui/css/layui.css}"/>
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="css/blog-content.css" th:href="@{/css/blog-content.css}"/>
</head>
<body>
	<div th:insert="~{fragments/header :: body}"></div>	<!-- body -->
	
<div id="content" class="container">
	<div class="row">
		<div class="col-sm-12">
			<h1>blog 一个基于SpringBoot技术栈的个人博客---&gt;服务端</h1>
<p>主要技术栈:<strong>SpringBoot</strong> + Spring Data JPA + SpringMVC + Thymeleaf + Druid + Dubbo + Redis + Mysql + Tomcat<br />
<strong>此博客系统采用的是前后端分离,前端项目地址</strong>:<a href="https://github.com/sa4e/blog-view" title="blog-view">https://github.com/sa4e/blog-view</a></p>
<h1>2017/8/14 星期一 下午 9:11:36</h1>
<p>服务端的初始导入:
项目整体架构的初步搭建 + 简单连接测试<br />
服务端项目结构如图<br />
<img src=" http://cos-1252109955.cosgz.myqcloud.com/images/%E6%9C%8D%E5%8A%A1%E7%AB%AF%E9%A1%B9%E7%9B%AE%E7%BB%93%E6%9E%84.PNG" />  
</p>
<blockquote>
<ul>
<li>blog:父工程(管理依赖版本)</li>
<li>blog-model:blog实体层</li>
<li>blog-repository:blog持久层</li>
<li>blog-interface:blog服务层(接口)</li>
<li>blog-service:blog服务层(实现类)  
</li>
</ul>
</blockquote>
<h4><font face="微软雅黑" color="red">dubbo与Spring整合的一个坑!</font></h4>
<p><strong>dubbo的@Service注解不能和@Transactional注解同时使用</strong><br />
我们知道@Serveice注解用来发布服务的,而@Transactional是控制事务管理的,涉及到数据库的<strong>增删改<strong>就要有事务的管理,所以这两个注解在服务层是少不了的了。但是</strong>同时使用就会导致服务发布失败</strong>!  
</p>
<h3>解决办法:</h3>
<p>打开dubbo的源码包,打开目录com/alibaba/config/annotaion/,找到<strong>Service.java</strong>文件<br />
1. 增加一个<strong>@Inherited的注解(记得导包)</strong><br />
<img src="http://cos-1252109955.cosgz.myqcloud.com/images/1.PNG" alt="图片" /><br />
2. 编译 <strong>javac Service.java</strong><br />
3. 找到dubbo-x.x.x.jar,将编译后的Service.class替换掉原来的<br />
4. 在<strong>application.properties</strong>中配置使用cglib动态代理<br />
<code>spring.aop.proxy-target-class=true</code></p>
<p>简单4步就能解决了,当然也有其他的解决办法,可以不用修改源码,缺点是要使用到配置文件,我使用SpringBoot开发一般是全注解,所以就这样了。  
</p>
<p><strong>注意:服务发布的格式如下:</strong>
<br>
<img src="http://cos-1252109955.cosgz.myqcloud.com/images/2.PNG" alt="图片" />
</p>
	</div>	<!-- ./col-sm-12 -->	
	
	<div class="col-sm-12">
		<div class="blog-tags">
			<em>分类:</em>&nbsp;&nbsp;&nbsp;<a href="#">Java</a>
		</div>
	</div>
	
	<div class="col-sm-12">
		<div id="tags" class="blog-tags">
			<em>标签:</em>
			<span><a href="#" id="4">SpringMVC</a></span>
			<span><a href="#" id="5">Springboot</a></span>
			<span><a href="#" id="6">Dubbo</a></span>
		</div>
	</div>
	
	</div>  <!-- ./row -->
	
</div>
<div th:insert="~{fragments/footer :: footer}"></div>	<!-- footer -->

    <script>
    	$(function(){
    		$('#content img').addClass('img-fluid img-thumbnail');
    	});
    </script>
</body>
</html>
