<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
  <head>
  	<title>赖威良/威威猫/Sa4e's Personal Site - 关注编程 | 记录生活 | sa4e.cn</title>
  </head>
  <body>
  	<div th:insert="~{fragments/header :: header}"></div>	<!-- header -->

    <div class="blog-header">
      <div class="container">
        <h1 class="blog-title">Sa4e's Personal Site</h1>
        <p class="lead blog-description">一个基于Bootstrap和SpringBoot技术栈的极简风个人博客</p>
      </div>
    </div>

    <div class="container">

      <div class="row">

        <div class="col-sm-8 blog-main">
					
					<div id="tags" class="blog-post">
					
						<span><a href="#" id="4">SpringMVC</a></span>
						<span><a href="#" id="5">Springboot</a></span>
						<span><a href="#" id="1">SpringMVC</a></span>
						<span><a href="#" id="2">Dubbo</a></span>
						<span><a href="#" id="8">Springboot</a></span>
						<span><a href="#" id="6">Dubbo</a></span>
						<span><a href="#" id="4">Springboot</a></span>
						<span><a href="#" id="6">Dubbo</a></span>
						<span><a href="#" id="2">SpringMVC</a></span>
						<span><a href="#" id="3">SpringMVC</a></span>
						<span><a href="#" id="8">Dubbo</a></span>
						<span><a href="#" id="4">SpringMVC</a></span>
						<span><a href="#" id="1">SpringMVC</a></span>
						<span><a href="#" id="5">Springboot</a></span>
						<span><a href="#" id="6">Dubbo</a></span>
						<span><a href="#" id="8">Springboot</a></span>
						<span><a href="#" id="2">Springboot</a></span>
						<span><a href="#" id="3">SpringMVC</a></span>
						<span><a href="#" id="4">Springboot</a></span>
						<span><a href="#" id="2">Dubbo</a></span>
						<span><a href="#" id="6">Dubbo</a></span>
						<span><a href="#" id="2">SpringMVC</a></span>
						<span><a href="#" id="1">Springboot</a></span>
						<span><a href="#" id="6">Dubbo</a></span>
						
					</div>	<!-- tags -->
					
          <div class="blog-post">
            <a href="content.html" target="_blank" class="blog-post-title">基于SpringBoot技术栈的个人博客</a>
            <p class="blog-post-meta">2017/8/20 By <a href="#">sa4e</a>
            	<i class="layui-icon layui-col-md-offset7 blog-hot">&#xe756;&nbsp;</i><span style="color: #BD4147;" data-toggle="tooltip" title="热度">100&nbsp;℃</span>
            </p>
            <p>Spring Boot技术是当前Java应用框架的热门。市面上对于Spring Boot的需求很旺盛，虽然有很多的技术资料来介绍Spring Boot这门技术，但缺乏实战。特别是在围绕Spring Boot技术栈来构建完整的企业级应用这个课程，讲师给出了自己的见解。</p>
            <p>
            	<a href="#" class="btn btn-sm btn-warning">More...</a>
            </p>
          </div><!-- /.blog-post -->
			
          <div class="blog-post">
            <a href="#" class="blog-post-title">其他博客</a>
            <p class="blog-post-meta">2017/8/20 By <a href="#">Sa4e</a>
	            <i class="layui-icon layui-col-md-offset7 blog-hot">&#xe756;&nbsp;</i><span style="color: #BD4147;">100&nbsp;℃</span>
            </p>
            <p>Cum sociis natoque penatibus et magnis <a href="#">dis parturient montes</a>, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum.</p>
            <p>
            	<a href="#" class="btn btn-sm btn-warning">More...</a>
            </p>
          </div><!-- /.blog-post -->
			
		  <div class="blog-post">
	        <a href="#" class="blog-post-title">其他博客</a>
	        <p class="blog-post-meta">2017/8/20 By <a href="#">Sa4e</a>
            <i class="layui-icon layui-col-md-offset7 blog-hot">&#xe756;&nbsp;</i><span style="color: #BD4147;">100&nbsp;℃</span>
	        </p>
	        <p>Cum sociis natoque penatibus et magnis <a href="#">dis parturient montes</a>, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum.</p>
	        <p>
            	<a href="#" class="btn btn-sm btn-warning">More...</a>
            </p>
	      </div><!-- /.blog-post -->
	      
	      <div class="blog-post">
	        <a href="#" class="blog-post-title">其他博客</a>
	        <p class="blog-post-meta">2017/8/20 By <a href="#">Sa4e</a>
            <i class="layui-icon layui-col-md-offset7 blog-hot">&#xe756;&nbsp;</i><span style="color: #BD4147;">100&nbsp;℃</span>
	        </p>
	        <p>Cum sociis natoque penatibus et magnis <a href="#">dis parturient montes</a>, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum.</p>
	        <p>
            	<a href="#" class="btn btn-sm btn-warning">More...</a>
            </p>
	      </div><!-- /.blog-post -->
	      
	      <div class="blog-post">
	        <a href="#" class="blog-post-title">其他博客</a>
	        <p class="blog-post-meta">2017/8/20 By <a href="#">Sa4e</a>
            <i class="layui-icon layui-col-md-offset7 blog-hot">&#xe756;&nbsp;</i><span style="color: #BD4147;">100&nbsp;℃</span>
	        </p>
	        <p>Cum sociis natoque penatibus et magnis <a href="#">dis parturient montes</a>, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum.</p>
	        <p>
            	<a href="#" class="btn btn-sm btn-warning">More...</a>
            </p>
	      </div><!-- /.blog-post -->
	      
	       <div id="page">	
        	
        	</div>	<!-- ./page -->
				
        </div><!-- /.blog-main -->

        <div class="col-sm-3 ml-sm-auto blog-sidebar">
        	
          <div id="about" class="sidebar-module sidebar-module-inset" th:insert="~{fragments/about :: about}">
           	
          </div>	<!-- About -->
          
          <div id="contant" class="sidebar-module" th:insert="~{fragments/contact :: contact}">
          	
          </div>	<!-- Contant -->
          
          <div id="link" class="sidebar-module" th:insert="~{fragments/link :: link}">
            
          </div>	<!-- Link -->
          
        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->
 
    </div><!-- /.container -->
		
	<div th:insert="~{fragments/footer :: footer}"></div>	<!-- footer -->
    
  </body>
 	 
</html>